* {
  box-sizing: border-box;
  color: #fff;
  font: bold 40px "Courier New";
}

.calculator-body {
  width: 750px;
  height: 1000px;
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.display-container {
  flex: 1 1 0;
  background-color: rgb(99, 99, 99);
  border-bottom: 1px solid black;
}

.display {
  text-align: right;
  padding-right: 20px;
  font-size: 46px;
}

.row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.button-container {
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  background-color: rgb(99, 99, 99);
  border-radius: 20px;
  border: 2px solid black;
}

.button-container:active {
  border-color: #fff;
  background-color: rgb(65, 65, 65);
}